{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "Jenkins setup",

  "Resources" : {
    "jenkinsLB" : {
        "Type" : "AWS::ElasticLoadBalancing::LoadBalancer",
        "Properties" : {
            "Instances" : [
                { "Ref" : "jenkins1" }
            ],
            "SecurityGroups" : [ "sg-8ba1a5ee", "sg-a0caaac4" ],
            "Subnets"       : [ "subnet-d99631ae" ],
            "Listeners" : [ {
                "LoadBalancerPort" : "80",
                "InstancePort" : "8080",
                "Protocol" : "HTTP"
            } ]
        }
    },
    "jenkins1": {
      "Type": "AWS::EC2::Instance",
      "Properties": {
        "Tags": [ { "Key" : "Name", "Value": "jenkins1" } ],
        "ImageId" : "ami-1ecae776",
        "InstanceType"   : "t2.micro",
        "SecurityGroupIds" : [ "sg-8ba1a5ee", "sg-a0caaac4" ],
        "SubnetId"       : "subnet-d99631ae",
        "KeyName"        : "jaymz",
        "UserData" : {"Fn::Base64" : {"Fn::Join" : ["", [
            "#!/bin/bash\n",
            "yum -y update\n",
            "wget -O /etc/yum.repos.d/jenkins.repo http://pkg.jenkins-ci.org/redhat/jenkins.repo\n",
            "rpm --import https://jenkins-ci.org/redhat/jenkins-ci.org.key\n",
            "yum -y install jenkins\n",
            "yum -y install java\n",
            "service jenkins start\n",
            "curl -O http://localhost:8080/jnlpJars/jenkins-cli.jar\n",
            "java -jar jenkins-cli.jar -s http://localhost:8080 install-plugin github -deploy\n",
            "java -jar jenkins-cli.jar -s http://localhost:8080 install-plugin instant-messaging -deploy\n",
            "java -jar jenkins-cli.jar -s http://localhost:8080 install-plugin ircbot -restart\n",
            "chkconfig jenkins on\n",
            "mkdir /home/ec2-user/packer/\n",
            "curl -L https://dl.bintray.com/mitchellh/packer/packer_0.7.5_linux_amd64.zip -o /home/ec2-user/packer/packer_0.7.5_linux_amd64.zip\n",
            "unzip /home/ec2-user/packer/packer_0.7.5_linux_amd64.zip -d /home/ec2-user/packer/\n"
        ]]}}
      }
    }
  },
  "Outputs" : {
    "URL" : {
      "Description" : "The URL of your jenkins website",
      "Value" :  { "Fn::Join" : [ "", [ "http://", { "Fn::GetAtt" : [ "jenkinsLB", "DNSName" ]}]]}
    },
    "SSH" : {
      "Description" : "ssh to your jenkins instance",
      "Value" :  { "Fn::Join" : [ "", [ "ssh -i jaymz.pem -l ec2-user ", { "Fn::GetAtt" : [ "jenkins1", "PublicIp" ]}]]}
    }
  }
}

